/* GLOBAL */

:root{
    /* Fonts Styles */
    --headingFont: 'PT Sans', sans-serif;
    --headingParagraph: 'Roboto', sans-serif;

    /* Colors */
    --primaryColor: #784D3C;
    --white: #ffffff;
    --black: #000000;
    --grey: #e1e1e1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--headingParagraph);
    font-size: 1.6rem;
    line-height: 2;
}

.container{
    /*max-width: 120rem;
    width: 90%;*/
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--headingFont);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* UTILITIES */
.no-margin{
    margin:0;
}

.no-padding{
    padding: 0;
}

.center-text{
    text-align: center;
}

/* COMPONENTS */
.button{
    display: block;
    font-family: var(--headingFont);
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-radius: 1rem; 
    border: none;
}

.button:hover{
    cursor: pointer;
}

.button--primary{
    background-color: var(--black);
}

.button--secondary{
    background-color: var(--primaryColor);
}

/* HEADER */
.webp .header{
    background-image: url(../img/banner.webp);    
}

.no-webp .header{
    background-image: url(../img/banner.jpg);
}

.header{
    height: 60rem;
    background-size: cover; /*Cover all the space*/
    background-repeat: no-repeat;
    background-position: center center; /*Align vertical and horizontal*/
}

.bar{
    padding-top: 2rem;
}

.header__text{
    margin-top: 5rem;
    text-align: center;
    color: var(--white);
}

.logo{
    color: var(--white);
}

.logo__element{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.navegation__link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}

/* MAIN CONTENT*/
.entry{
    border-bottom: .1rem solid var(--grey);
    margin-top: 2rem;
}
.entry:last-of-type{
    border: none;
    margin-bottom: 0;
}

.entry__title{
    margin-top: 2rem;
}

/*ASIDE COURSES AND COURSES PAGE*/
.courses{
    list-style: none;
}

.course-widget{
   border-bottom: 1px solid var(--grey); 
   margin-bottom: 2rem;
}

.course-widget:last-of-type{
    border: none;
    margin-bottom: 0;
}

.course-widget__label, .course__label, .course__description{
    font-family: var(--headingFont);
    font-weight: bold;
}

.course-widget__info, .course__info{
    font-weight: normal;
}

.course-widget__label, .course-widget__info{font-size: 2rem;}

/* COURSES */
.course{
    padding: 3rem 0;
    border-bottom: 1px solid var(--grey);
}

.course:last-of-type{
    border: none;   
}

/* CONTACT PAGE*/
.contact-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    background-color: var(--white);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.field{
    display: flex;
    margin-bottom: 2rem;
}

.field__label{
    flex: 0 0 10rem;
}

.label__input{
    flex: 1;
    border: 1px solid var(--grey);
    border-radius: 1.5rem;
    height: 4rem;
}

.field__input--textarea{
    height: 20rem;
    width: 20rem;
    border: 1px solid var(--grey);
    border-radius: 1.5rem;
}

/* FOOTER */
.footer{
    background-color: var(--black);
    padding-bottom: 3rem;
    margin-top: 3rem;
}

/* RESPONSIVE DESIGN*/
@media (min-width: 768px) {

    /* COMPONENTS */
    .button--primary{
        display: flex;
        width: 25rem;
        justify-content: center;
    }

    /* HEADER */
    .header__text{
        margin-top: 18rem;
    }

    .bar{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .navegation{
       display: flex;
       gap: 1rem;
   }

   /* MAIN CONTENT */
   .main-content{
       display: grid;
       grid-template-columns: 2fr 1fr;
       column-gap: 4rem;
   }

   /*ABOUT US PAGE*/
   .about-us{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 3rem;
   }

   /* COURSES */
   .course{
      display: grid;
      grid-template-columns: 1fr 2fr; 
      column-gap: 2rem
   }
}